table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.activeColor{
  background-color: red!important;
}

.next{
  display: none!important;
}

.mainBox_slider{
  border:5px solid whitesmoke;
  padding:10px
}

.active {
  background-color: red !important;
}